$slider-height: 18px;
$slider-thumb-height: 25px;
$slider-thumb-width: 22px;
$slider-thumb-color: #3f75a5ff;
$slider-thumb-color-hover: #3f75a5c0;
body,
canvas,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.page {
  background-color: rgba(161, 161, 161, 0.726);
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.coordinate-canvas {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100px;
}
.show-controls {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222831da;
  color: #f1faffb0;
  padding: 10px;
}

.controls {
  position: absolute;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: #f1faffb0;
  display: flex;
}

h1 {
  font-size: 25px;
  padding-top: 20px;
  margin-bottom: 0px;
}
.controls p {
  text-align: justify;
  margin: 18px;
  padding: 1px;
}
#style-1::-webkit-scrollbar-track {
  width: 7px;
}
canvas {
  display: block;
}
#style-1::-webkit-scrollbar {
  width: 8px;
  background-color: #6661682f;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(175, 172, 172);
}
#style-1::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.btn-primary {
  display: flex;
  flex: 1;
  margin: 0px 8px;
  background-color: $slider-thumb-color;
  border-color: $slider-thumb-color;
  color: #ffffff;
  font-size: 13px;
  align-items: center;
  padding: 0px;
  justify-content: center;
  white-space: nowrap;
}
.btn-primary:hover {
  background-color: $slider-thumb-color-hover;
}
.btn-primary:disabled {
  background-color: #3f75a590;
  border-color: #3f75a590;
}
.btn-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
}
.btn-group {
  display: flex;
  flex: 1;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 8px;
}
.threeCanvas {
  width: 100vw;
  height: 100vh;
}
.slider-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 95%;
  padding-bottom: 15px;
}
.slider-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
  font-size: 14px;
}
.sliderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 12;
}
.slider-value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}
.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: $slider-height; /* Specified height */
  background: #6b6b6b; /* Grey background */
  border-radius: 3px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  pointer-events: none;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: $slider-thumb-width; /* Set a specific slider handle width */
  height: $slider-thumb-height; /* Slider handle height */
  background: $slider-thumb-color; /* Green background */
  border-radius: 3px;
  cursor: pointer; /* Cursor on hover */
  pointer-events: auto;
}
.slider::-moz-range-progress {
  background: #494444;
  height: $slider-height;

}
.slider::-moz-range-thumb {
  width: $slider-thumb-width; /* Set a specific slider handle width */
  height: $slider-thumb-height; /* Slider handle height */
  background: $slider-thumb-color; /* Green background */
  border-radius: 3px;
  cursor: pointer; /* Cursor on hover */
  pointer-events: auto;
}
.positions-container {
  margin: 15px auto;
  background-color: #6b6b6ba0;
  width: 95%;
  border-radius: 10px;
  p {
    text-align: justify;
    margin: 5px 10px;
    padding: 1px;
  }
  h4 {
    padding-top: 5px;
  }
}
.position-button-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px auto;
}

@media only screen and (min-width: 990px) {
  .slider-label {
    font-size: 20px;
  }
  .slider-value {
    font-size: 20px;
  }
  h1 {
    font-size: 40px;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }
  .controls p {
    text-align: justify;
    padding-left: 6%;
    padding-right: 6%;
  }

  .positions-container p {
    margin: 5px 0px;
  }
  .show-controls:hover {
    background-color: #222831a0 !important;
  }
  .btn-toolbar {
    margin: 10px 20px;
  }
}
